.gif-picker {
  border: 1px solid #e7e7e7;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  position: relative;
  background-color: var(--primary-color);
  padding: 10px;
  height: 18rem;
  width: 20rem;
}
.gif-picker > input {
  background-color: #f6f6f6;
  border: 1px solid #f6f6f6;
  border-radius: 10px;
  height: 1rem;
  outline: none;
  padding: 10px;
  transition: all 0.2s ease-in-out;
  outline: 1px solid var(--secondary-color);
}
