.page-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--primary-color);
  padding: 7px;
  box-shadow: var(--box-shadow);
  display: flex;
  justify-content: space-around;
  max-height: 2rem;
}
.page-nav a {
  color: inherit;
}
